nav.navbar.fixed-top.navbar-expand-md.navbar-top
  .container
    a.navbar-brand JAMES WU
    .collapse.navbar-collapse
      ul.navbar-nav.ml-auto
        li.nav-item
          a.nav-link(href="#section_about") 簡介 ABOUT
        li.nav-item
          a.nav-link(href="#section_ability") 能力 ABILITY
        li.nav-item
          a.nav-link(href="#section_story") 故事 STORY
        li.nav-item
          a.nav-link(href="#section_works") 作品 WORKS
          
header.jumbotron
  .container
   h1(data-0="transform: translateY(-80px)" data-500="transform: translateY(100px)") 相信價值是自己給的，不是他人定義。
   hr
section#section_about
   .container
    .row
     .col-sm-5.img(data-0="transform: translateX(-100px);opacity:0" data-500="transform: translateX(0px);opacity:1")
     .col-sm-7(data-0="transform: translateX(-100px);opacity:0" data-500="transform: translateX(0px);opacity:1")
       h2 你好，我是吳晉宇。<br>
       p(data-100="opacity:0.8" data-500="opacity:1") 學歷：<br>國立東華大學資訊管理學系2015/09~2019/07(畢業)<br><br>．工作經歷:<br>ALPHA CAMP實習 (2019/11~2020/01):<br>負責公司每個月的直播活動拍攝，<br>剪輯教學課程影片參與公司行銷討論計畫<br><br>．TVBS 看板人物節目助理<br>協助節目製作<br>剪輯社群影片<br>協助節目錄影
       
section#section_ability
   .container
    .row
     .col-sm-12(data-bottom-top="transform:translateY(-50px);opacity:0" data-center="transform:translateY(0px);opacity:1")
      h1 工作能力
      hr
     .col-md-3.col-sm-6  
      .img_warp(data-bottom-top="transform:translateY(-50px);opacity:0" data-center="transform:translateY(0px);opacity:1")
        img(src="https://i.imgur.com/W5u5JE0.png")
      h3(data-bottom-top="transform:translateY(-10px);opacity:0" data-center="transform:translateY(0px);opacity:1") HTML
     
     .col-md-3.col-sm-6
      .img_warp(data-bottom-top="transform:translateY(-50px);opacity:0" data-center="transform:translateY(0px);opacity:1")     
        img(src="https://i.imgur.com/6olQIcA.png", alt="")
      h3(data-bottom-top="transform:translateY(-10px);opacity:0" data-center="transform:translateY(0px);opacity:1") CSS
     
     .col-md-3.col-sm-6
      .img_warp(data-bottom-top="transform:translateY(-50px);opacity:0" data-center="transform:translateY(0px);opacity:1")
        img(src="https://i.imgur.com/dhLQWMT.png", alt="")
        
      h3(data-bottom-top="transform:translateY(-10px);opacity:0" data-center="transform:translateY(0px);opacity:1") JavaScript

     .col-md-3.col-sm-6
      .img_warp(data-bottom-top="transform:translateY(-50px);opacity:0;background-size:200%" data-center="transform:translateY(0px);opacity:1;background-size:100%")
        img(src="https://i.imgur.com/1JJ1elu.png", alt="")
      h3(data-bottom-top="transform:translateY(-10px);opacity:0" data-center="transform:translateY(0px);opacity:1") Vue.js
      

section#section_story
  .container
    .row
     .col-sm-7(data-bottom-top="transform:translateY(-50px);opacity:0" data-center="transform:translateY(0px);opacity:1")
       h2 我的故事
       hr
       p(data-100="transform: translateX(-100px);opacity:0.8" data-500="transform: translateX(0px);opacity:1") ．實習經驗<br>在新創公司實習，參與全端工程師課程的行銷計畫，透過實習接觸前端網頁設計，從中熟悉工程師學習所需的知識與工具，因此產生興趣並嚮往成為網頁工程師。<br><br>．工作技能<br>資管系畢業，對程式的應用基礎相當熟悉，因對網頁設計相當有興趣，自學HTML、CSS、JavaScript、RWD、JQuery、Vue.js，鑽研技術並慢慢累積作品，期許自己能獨當一面。<br><br>．個人特質<br>喜歡挑戰自我，第一份正職工作在TVBS當節目助理，需要跟不同部門進行溝通與合作，磨練自己的個性與耐心，在快速的工作步調建立自己的邏輯讓做事更有效率。<br><br>．持續學習<br>不斷的在持續學習Vue.js和框架的應用，以及網頁設計工具的延伸，我對網頁有不同層面的展現感到好奇，希望透過實際的工作環境裡，在這領域上有更多的發揮。

     .col-sm-5.img(data-bottom-top="transform: translateX(100px);opacity:0" data-center="transform: translateX(0px;opacity:1)")
     
section#section_works
  .container-fluid
   .row
     .col-sm-12
      h2 作品
      hr
     .col-sm-6
      img(src="https://i.imgur.com/4HuIu83.jpg", alt="" data-bottom-top="filter: grayscale(100%)" data-center="filter: grayscale(0%)")
       
     .col-sm-6.feature(data-bottom-top="transform: translateX(50px);opacity:0" data-center="transform: translateX(0px;opacity:1)")
      i.fa.fa-headphones
      h3 鋼琴模擬器
      p 利用Vue.js模擬鋼琴鍵盤，除了按鍵盤之外，還可以錄音紀錄按下的音符，進行播放、暫停錄音的內容。
      
      p.read 
       a(href="https://jin576tw.github.io/Front-end-works/piano_simulator/dist/index.html" target="_blank") read more....
      
      
    
     .col-sm-6.feature(data-bottom-top="transform: translateX(-30px);opacity:0" data-center="transform: translateX(10px);opacity:1")
      i.fa.fa-sun-o
      h3 動態天氣盒子
      p 模仿天氣盒子，動態顯示地區的溫度和每小時溫度變化、以及一周天氣的預報。
      
      p.read 
       a(href="https://jin576tw.github.io/Front-end-works/weathrbox/dist/index.html" target="_blank") read more....
     .col-sm-6
      img(src="https://i.imgur.com/YKiT7Hx.jpg", alt="" data-bottom-top="filter: grayscale(100%)" data-center="filter: grayscale(0%)")
      
      
     .col-sm-6
      img(src="https://i.imgur.com/4oWNRoO.jpg", alt="" data-bottom-top="filter: grayscale(100%)" data-center="filter: grayscale(0%)")
     .col-sm-6.feature(data-bottom-top="transform: translateX(50px);opacity:0" data-center="transform: translateX(0px;opacity:1)")
      i.fa.fa-list-alt
      h3 購物清單
      p 購物清單可以紀錄購賣清單，除了紀錄產品名稱和價錢，還可以自己新增想要的項目和價錢，幫你計算購物車裡面所有清單裡的總價。
      p.read 
       a(href="https://jin576tw.github.io/Front-end-works/mybuylist/dist/index.html" target="_blank") read more....
      
     
footer.jumbotron
  .container
   h2 想了解更多，歡迎聯絡
   input.form-control(placeholder="Email")
   hr
   button.btn.btn-outline-light 送出