#Namelist
 .title
  h1 個人資料表
 .content
   .name_item.control_panel
     label 中文名字
     input#input_CHname(V-model="CHname",placeholder="名稱")
     label 英文名字
     input#input_ENname(V-model="ENname",placeholder="Name")
     label 手機 
     input#input_phone(V-model="phone",placeholder="09xxxxxx")
     label 信箱
     input#input_Email(V-model="Email",placeholder="example@mail.comㄡ")
     label 性別
     input#input_sex(V-model="sex",placeholder="男/女")
     span.addbtn +新增

   #Datalist
    .container
     table.table.table-hover
      thread
       tr.table-warning
         th 中文名字 
         th 英文名字
         th 手機
         th 信箱
         th 性別
         th 刪除
       .namelist
         tr
           td {{CHname}}
           td {{ENname}}
           td {{phone}}
           td {{Email}}
           td {{sex}}
           td.btn.btn-light(v-on:click="remove(id+1,namelist)") X
         tr
           td {{CHname2}}
           td {{ENname2}}
           td {{phone2}}
           td {{Email2}}
           td {{sex}}
           td.btn.btn-light(v-on:click="remove(id+1,namelist)") X
         tr
           td {{CHname3}}
           td {{ENname3}}
           td {{phone3}}
           td {{Email3}}
           td {{sex}}
           td.btn.btn-light(v-on:click="remove(id+1,namelist)") X
         tr
           td {{CHname4}}
           td {{ENname4}}
           td {{phone4}}
           td {{Email4}}
           td {{sex2}}
           td.btn.btn-light(v-on:click="remove(id+1,namelist)") X





