.container
  .topbar
    img.icon(src="http://www.freeiconspng.com/uploads/images-facebook-f-logo-png-transparent-background-page-2-29.png")
    input(placeholder="搜尋人、地點、事物")
  .cover
  .midbar
    .personimg
      .names
         h2.chtname 吳晉宇
         h5.engname (James Wu)
  .bottombar
    p 
      i.fa.fa-briefcase
      span 在東華吉他擔任21st酷到爆的器材<br>
      i.fa.fa-briefcase
      span 國立東華藝術中心<br>
      i.fa.fa-graduation-cap 
      span 就讀東華大學資訊管理系<br>
      i.fa.fa-plane
      span 來自台北市<br>
